* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-clr: rgb(232, 158, 21);
    --clr-blue: rgb(80, 145, 201);
    --clr-purp: rgb(183, 75, 197);
    --clr-green: rgb(116, 227, 116);
    --clr-grey: rgb(43, 42, 42);
    --clr-black: rgb(12, 11, 11);
}


/* Global Styles */
 body {
    font-family: 'Times New Roman', Times, serif;
    
 }

 h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--clr-black); 
 }

 h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--clr-black);
 }

 p {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--clr-grey)
 }

 .border-span {
    border-bottom: 4px solid var(--primary-clr);
 }

 .btn {
    padding: 10px 35px;
    border-radius: 7px;
    border: none;
    transition-duration: 1.4s;
 }

 .btn:hover {
    background-color: var(--primary-clr);
 }

 .img-logo {
    font-size: 3rem;
    color: var(--primary-clr);

 }

 .nav-list {
    font-size: 1.5rem;
    list-style: none;
 }

 .nav-list li a {
    text-decoration: none;
    color: var(--clr-black)
 }

 .my-shadow {
    box-shadow: 12px 4px 8px 2px rgba(0, 0, 0, 0.2), 12px 6px 20px 2px rgba(0, 0, 0, 0.19);
 }


 /* End of Global Styles */


 /* FOCUSING ON MOBILE DESIGN FIRST, ALL MEDIA QUERIES ARE ADAPTED FOR DESKTOP */

 /* <<<<<< start of the header section styles >>>>>>>>>> */
 header {
    max-width: 90%;
    margin: 15px auto;
 }
 
 .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav-list{
    text-align: center;
    margin: 30px 0px;
    background-color: lightgrey;
    padding: 10px 0;
    border-radius: 10px;
    display: none;
 }

 .nav-list li {
    margin: 25px 0px;
 }

 .nav-list li a:hover {
    color: var(--primary-clr)
 }

 /* <<<<< End of the header section Styles >>>>>>>>>> */

/* <<< start of hero section >>>> */
 .hero-contents {
    text-align: center;
    margin: 3.5rem 0px;
 }

 .hero-contents p,
 .hero-contents h2 {
    margin: 10px 0;
 }

 .hero-contents h2 {
    font-size: 3rem;
 }

 

 .hero-img img {
    max-width: 95%;
    align-self: center;
 }

 .hire-me {
    max-width: 30%;
    margin: auto;
    margin-top: 3rem;
 }

 @media(max-width: 830px){
    .desktop {
        display: none;
    }
 }

 .mobile {
    background-color: var(--primary-clr);
 }

 

 /* <<<End of style for hero section>>>> */
 
 /* <<<Start of About me Section */

 .about-me-section h2 {
    text-align: center;
 }

 .about-me-section {
    text-align: start;
    max-width: 90%;
    margin: auto;
    margin-top: 3.5rem;
 }

 .about-me-section div p {
    margin: 1.5rem 0;
    line-height: 2.0rem;
 }
 
 .about-me-buttons {
    margin: 3.5rem auto;
    
 }


 /* <<<End of About me Section>>>> */

 /* Start of Services Section */

 .services-container  {
    max-width: 90%;
    margin: auto;
 }

 .services-container div {
    margin-top: 2.5rem;
 }

 .one {
    background-color: var(--primary-clr);
    border-radius: 5px;
    padding: 10px;
 }

 .two {
    background-color: var(--clr-purp);
    border-radius: 5px;
    padding: 10px;
 }

 .three {
    background-color: var(--clr-blue);
    border-radius: 5px;
    padding: 10px;
 }

 .four {
    background-color: var(--clr-green);
    border-radius: 5px;
    padding: 10px;
 }

 .services-my-services p
 {
    line-height: 2rem;
 }

 .services-my-services h3 {
    font-size: 2.0rem;
    padding: 4px 0;
 }

 .services-intro-cont p {
    margin-top: 3rem;
    line-height: 2.0rem;
    
 }

 .services-intro-cont h2 {
    text-align:  center;
 }

 /* <<End  of Services section */

 /* Start of Work Section */
 .works-container {
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;

 }

 .work-hdr h2 {
    text-align: center;
 }

 .work-hdr p {
    text-align: start;
    margin: 2.5rem 0px;
 }

 .work-btns {
    display: inline-flex;
    
 }

 .work-btns button {
    
    margin: 5px 2px;
 }

 .work-g-column img {
    max-width: 100%;
    margin: 1.0rem 0px;
    
 }

 .work-g-column {
    display: flex;
    flex-wrap: wrap;
 }


 /* <<End of work Section >> */

 /* Start of Experience Section */

 .experience-container {
    max-width: 90%;
    margin: 2.5rem auto;
 }

 .experience-hdr h2 {
    text-align: center;
    margin: 1.5rem 0px;
 }

 .experience-hdr p {
    margin: 1.5rem 0px;
 }

 .experience-card {
    background-color: var(--primary-clr);
    margin: 1.5rem;
    padding: 2.5rem;
    border-radius: 10px;
 }

 .experience-card small,
 .experience-card h3,
 .experience-card p {
    line-height: 2.0rem;
 }




 /* <<End of work experience section */

 /* Start of Call to Action Section */
    .call-action .content {
        text-align: center;
        padding: 1rem 0px;
    }

    .call-action .content button {
        margin-top: 1.4rem;
    }

 /* << End of action Section >> */

 /* Start of social links section */

 /* End of Social links section */
    
    .social-links {
        max-width: 80%;
        margin: 5rem auto;
        
    }
 
    .social-links .s-nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .s-nav-list li  {
        margin: 0 20px;
        font-size: 1.4rem;
        list-style: none;
        text-align: center;
    }

    .s-nav-list li a {
        color: var(--primary-clr)
    }
    .social-links .nav-list li a {
        display: inline-flex;
    }
 /* DESIGN FOR LARGE SCREEN SIZES */
 @media(min-width: 830px){
    /* <<<<<< Styling for the navbar desktop view >>>>>>>>> */
    
    .img-ham {
        display: none;
    }

    header {
        max-width: 80%;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-list{
        display: inline-flex;
        background-color: transparent;
    }

    .nav-list li {
        margin: 0px 25px;
    }

    /* Start of Style Desktop style for hero section >>>>> */

    .hero-container {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: auto;
        align-items: center;
        margin-top: 3rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        margin-top: 15px;
        background-color: var(--primary-clr);
    }

    /* End of Desktop style for hero section */

    /* Start of About me section */
    .about-me-section{
        margin-top: 10rem;
        max-width: 50%;
    }

    .about-me-buttons {
        text-align: center;
    }

    .about-me-buttons button:hover {
        background-color: var(--primary-clr);
    }
    /* <<End of About me section */

    /* Start of services section */

    .services-container  {
        max-width: 80%;
        margin: auto;
        
     }

     .services-my-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }

     .services-my-services .object {
        flex-basis: calc(40%);
        margin: 15px;
        padding: 5rem;
     }

     .services-intro-cont {
        text-align: center;
        max-width: 80%;
        margin: auto;
     }



    /* << End of services Section>>> */

    /* Start of Work container */

     .works-container {
        max-width: 80%;
        margin: 3rem auto;
        
     }

     .work-hdr  p{
        text-align: center;
     }

     .work-btns  {
        
        display: block;
        text-align: center;
     }

     .work-gallery {
        display: flex;
        justify-content: center;
        
     }

     .work-g-column {
        flex-basis: 30%;
        margin: 10px 10px;
        
     }

    /* <<End of work container>> */

    /* Start of Work Experience Section */
     .experience-container {
        max-width: 80%;
        margin: auto;
        
     }

     .experience-card-cont {
        display: flex;
     }

     .experience-hdr p {
        text-align: center;
     }

    /* << End of work Experience Section >> */

    /* Start of call to action Section */

    .call-action {
        background-color: var(--primary-clr);
        margin-top: 9rem;
        padding: 1rem 0;
    }

    /* << End of call to action section */

    /* Start of Social Links section */

    .social-links .s-nav-list {
        display: flex;
        justify-content: center;
        max-width: 80%;
        margin: auto;
    }

    .s-nav-list i:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }

    .social-links .nav-list {
        display: flex;
        justify-content: center;
    }

    /* << End of social links section */
 }

 /* End of media query */

